* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    font-family: Monospace;
    font-size: 12px;
    min-height: 0;
    padding: 0;
    color: #c0c0c0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
        font-weight: bold;
        font-family: FontAwesome;
}

#workspaces button {
    padding: 0 0.2em;
    background-color: transparent;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#mode,
#idle_inhibitor,
#language {
    margin: 0.2em 0.2em;
    padding: 0.2em 0.2em;
}

#window,
#workspaces {
    margin: 0 0.4em;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery, #battery.charging, #battery.plugged {
    min-width: 72px;
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    min-width: 256px;
}
#memory {
    min-width: 96px;
}

#disk {
}

#network {
    min-width: 480px;
}

#network.disconnected {
    min-width: 480px;
}


#temperature {
    min-width: 64px;
}

#language {
    min-width: 64px;
}
